name: Generate Pacman

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Generate Pacman animation
        uses: Platane/snk@v3
        with:
          github_user_name: johnmontiano8
          palette: "pacman"
          outputs: |
            dist/github-contribution-grid-pacman.svg
            dist/github-contribution-grid-pacman.gif

      - name: Deploy to output branch
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
