name: Generate PacMan Animation
on:
schedule: # Run automatically every 24 hours
  - cron: "0 */24 * * *"
workflow_dispatch: # Allows manual triggering
push: # Runs on every push to the main branch
  branches:
    - main

jobs:
  generate:
    permissions:
    contents: write
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Generate PacMan
        uses: johnmontiano8/pacman-contribution-graph@main
        with:
          github_user_name: johnmontiano8
          outputs: dist/pacman.svg
          mode: pacman

      - name: Deploy to output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
