name: Generate PingPong Animation
on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Generate PingPong
        uses: Platane/snk@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: dist/pingpong.svg
          mode: pong

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: pingpong
          path: dist/pingpong.svg
