name: Generate PingPong

on:
  schedule:
    - cron: "0 * * * *" # every hour
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  generate:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - uses: actions/checkout@v3

      - name: Generate PingPong Animation
        uses: Platane/snk@v3
        with:
          github_user_name: johnmontiano8
          mode: pong
          outputs: dist/github-contribution-grid-pingpong.svg

      - name: Push to output branch
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
          keep_history: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
